
.nav .r
{
	clip: rect(auto auto auto 880px);
}
/* end Menu */

/* begin MenuItem */
.artmenu a .r
{
	clip: rect(auto auto auto 404px);
}
/* end MenuItem */

/* begin Box, Block */
.Block-tl
{
	clip: rect(auto 7px 7px auto);
}

.Block-tr
{
	clip: rect(auto auto 7px 7px);
}

.Block-bl
{
	clip: rect(7px 7px auto auto);
}

.Block-br
{
	clip: rect(7px auto auto 7px);
}

.Block-tc
{
	clip: rect(auto auto 7px auto);
}

.Block-bc
{
	clip: rect(7px auto auto auto);
}

.Block-cr
{
	clip: rect(auto auto auto 7px);
}

.Block-cl
{
	clip: rect(auto 7px auto auto);
}
/* end Box, Block */

/* begin BlockHeader */
.BlockHeader .r
{
	clip: rect(auto auto auto 894px);
}
/* end BlockHeader */

/* begin PostContent */
.PostContent
{
	height:1%;
}
/* end PostContent */

/* begin Button */
a.Button .btn .r,
button.Button .btn .r
{
	clip: rect(auto auto auto 399px);
}
/* end Button */

